* {
  text-align: center;
  font-family: 'Ultra', serif;
}

a, button {
  text-decoration: none;
  color:white;
  background-color: black;
  margin: 10px;
}

input, button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* corner login */
.login-reg {
  padding: 0.5em;
  font-size: 1em;
}
.login-reg:hover {
  font-size: 1.5em;
}

.corner-username {
  font-size: 2em;
}

/* side bar */
.side-bar {
  background-color: rgba(80, 51, 78, 0.7);
  height: 100vh;
  width: 20vw;
  z-index: 20;
  animation: slidein2;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.sidebar-login {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.sidebar-icon-name {
  display: flex;
  padding: 0.5em;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav a, .sidebar-nav button {
  font-size: 1em;
  width: 15vw;
  margin: 2vh auto;
  border:none;
}

.social {
  position: absolute;
  bottom: 1em;
  margin-left: 1em;
}

.social a {
  width: auto;
  font-size: auto;
  margin: auto;
}

.social img {
  width: 2em;
  height: 2em;
  margin: 1em;
}

.social img:hover {
  width: 2.5em;
  height: 2.5em;
}


/* header */
.login-buttons-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-between;
}

.login-buttons {
 padding: 1em;
}

.nav-arrow {
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}

.nav-arrow:hover {
  animation: none; 
}

.nav-arrow img {
  margin-left: -1.5em;
  width: 5em;
}

.main-title {
  margin-bottom: 1em;
  font-size: 5em;
}

.shoe-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
}

.shoe-left {
  z-index: 1;
}

.shoe-right {
  z-index: 2;
}

.pop-up {
  position: fixed;
  width: 70vw;
  height: 70vh;
  background-color: rgba(119, 136, 153, 0.6);
  margin-left: 15vw;
  margin-right: 15vh;
  z-index: 20;
  animation: slidein;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: row-reverse;
}

.hidden {
  display: none; 
}

.login-content, .reg-content {
  margin:auto;
}

/* stats */
.site-stats {
  padding: 2em;
  margin: 2em auto;
  width: 40vw; 
}

.stats-main {
border: 2px black solid;
 padding: 4em;
 width: 40vw;
 position: absolute;
 top: 100px;
 left: 10px;
}
.stats-back {
  background-color:rgba(198, 230, 179, 0.2);
  width: 40vw;
  padding: 4em 4em 2em 0;
  z-index:-1;
  position: absolute;
  height: 25vh;
  top: 80px;
  left: 178px;
}

/* race-and-activities-wraper-at-home */
.race-and-act {
  display: flex;
  flex-direction: row;
}

/* race-list */
.race {
  background-color: grey;
  padding: 2em;
  margin: 2em auto;
  width: 40vw; 
}

.race-info span {
  font-weight: 600;
  margin: 1em;
  text-align: left;
}

.detail-link {
  padding: 0.5em;
  font-size: 1em;
}

.detail-link:hover {
  font-size: 1.5em;
}

/* add race form */
.race-form {
  font-size: 1em;
  z-index: 40;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(27, 63, 99, 0.9);
  color:white;
  /* margin-left: 15vw;
  margin-right: 15vh; */
  padding-top: 5em;
  animation: slidein;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  top: 0;
}

.race-form button {
  border:none;
  padding: 0.5em;
  font-size: 1em;
}

.race-form button:hover {
  font-size: 1.5em;
}

/* new race */
.new-races {
  margin: 2em 2em 2em auto;
  width: 45vw;
  position: relative;
}

.new-race-main {
border: 2px black solid;
 padding: 4em;
 width: 40vw;
 position: absolute;
 top: 455px;
 left: 10px;
}

.new-race-back {
  background-color:rgba(173, 216, 230, 0.2);
  width: 40vw;
  padding: 4em 4em 2em 0;
  z-index:-1;
  position: absolute;
  height: 75vh;
  top: 470px;
  left: 178px;
}

.new-activities {
  margin: 2em auto 2em 2em;
  width: 22vw;
  position: relative;
}

.new-act-main {
  border: 2px black solid;
  padding: 4em;
  width: 18vw;
  position: absolute;
  z-index: 1000;
}

.new-act-back {
  background-color:rgba(128, 0, 128, 0.2);
  width: 22vw;
  position: absolute;
  z-index:-1;
  height: 36vh;
  top: 44px;
  left: 50px;
}

.newuser {
  margin: 2em auto 2em 2em;
  width: 22vw;
  position: relative;
}

.newuser-main {
  border: 2px black solid;
  padding: 4em;
  width: 18vw;
  position: absolute;
  z-index: 1000;
  top: 63vh;
}

.newuser-back {
  background-color:rgba(236, 159, 166, 0.2);
  width: 22vw;
  position: absolute;
  z-index:-1;
  height: 36vh;
  top: 65vh;
  left: 124px;
}

.race-and-act-left, .race-and-act-right {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
}

/* single race  */
.race-page-race-name {
  font-size: 6em;
}

/* note-list */
.note {
  background-color: lightpink;
  padding: 2em;
  margin: 2em auto;
  width: 40vw; 
}

/* footer */
.footer-img {
  width: 100vw;
  margin-left: -4vw;
  z-index:-1;
  opacity: 0.1;
}

/*about*/
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.story-img {
  height: 200px;
  padding-right: 10px;
  border-radius: 15px 15px 0px 15px;
}

.story-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.story-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.story-head > h1 {
  background: black;
  padding: 5px;
}

.demo-arrow {
  color: rgb(0, 0, 0, 0);
}

.demo {
  display: none;
}

#story-1 {
  padding-top: 200px;
}

#story-2 {
  padding-top: 200px;
}

#story-3 {
  padding-top: 200px;
}

#story-4 {
  padding-top: 200px;
  padding-bottom: 50px;
}

.music-icon {
  width:2em;
  height:2em;
}

/* profile  */
.profile-content {
  display:flex;
}
.profile-race-list, .profile-note-list {
  border: solid black 2px;
  width: 40vw;
  margin: 0 auto;
}

/* temporary update form border  */
.note-update, .profile-update, .race-update {
  border: 2px black solid;
  padding: 2em;
  width: 40vw;
  margin: 0 auto;
}

.login-content, .reg-content {
  font-size: 3em;
}

@keyframes slidein {
  0%{
    opacity:0;
    transform: translateX(800px);
  }
  100%{
    opacity:1;
    transform: translateX(0);
  }
}

@keyframes slidein2 {
  0%{
    opacity:0;
    transform: translateX(-800px);
  }
  100%{
    opacity:1;
    transform: translateX(0);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
