* {
  text-align: center;
  font-family: 'Ultra', serif;
}

a {
  text-decoration: none;
  color:white;
  background-color: black;
  margin: 10px;
}

input, button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* side bar */
.side-bar {
  background-color: rgba(171, 254, 45, 0.8);
  height: 100vh;
  width: 20vw;
  z-index: 20;
  animation: slidein2;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

/* header */
.login-buttons-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-between;
}

.login-buttons {
 padding: 1em;
}

.main-title {
  margin-bottom: 1em;
  font-size: 12em;
}

.shoe-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
}

.shoe-left {
  z-index: 1;
}

.shoe-right {
  z-index: 2;
}

.pop-up {
  position: fixed;
  width: 70vw;
  height: 70vh;
  background-color: rgba(119, 136, 153, 0.6);
  margin-left: 15vw;
  margin-right: 15vh;
  z-index: 20;
  animation: slidein;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: row-reverse;
}
.hidden {
  display: none; 
}

.login-content, .reg-content {
  margin:auto;
}

/* race-and-activities-wraper-at-home */
.race-and-act {
  display: flex;
}


/* race-list */

.race {
  background-color: grey;
  padding: 2em;
  margin: 2em auto;
  width: 40vw; 
}

.race-info span {
  font-weight: 600;
  margin: 1em;
  text-align: left;
}

.detail-link {
  padding: 0.5em;
  font-size: 1em;
}
.detail-link:hover {
  font-size: 1.5em;
}

/* add race form */
.race-form {
  z-index: 40;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(27, 63, 99, 0.7);
  /* margin-left: 15vw;
  margin-right: 15vh; */
  padding-top: 5em;
  animation: slidein;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  top: 0;
}

/* new race */

.new-races {
  margin: 2em 2em 2em auto;
  width: 45vw;
  position: relative;
}

.new-race-main {
border: 2px black solid;
 padding: 4em;
 width: 40vw;
 position: absolute;
 top: 20px;
 left: 10px;
}

.new-race-back {
  background-color:rgba(173, 216, 230, 0.2);
  width: 40vw;
  padding: 4em 4em 2em 0;
  z-index:-1;
  position: absolute;
  height: 64vh;
  top: 46px;
  left: 178px;
}

.new-activities {
  margin: 2em auto 2em 2em;
  width: 22vw;
  position: relative;
}

.new-act-main {
  border: 2px black solid;
  padding: 4em;
  width: 18vw;
  position: absolute;
  z-index: 1000;
}

.new-act-back {
  background-color:rgba(128, 0, 128, 0.2);
  width: 22vw;
  position: absolute;
  z-index:-1;
  height: 36vh;
  top: 44px;
  left: 124px;
}


/* note-list */

.note {
  background-color: lightpink;
  padding: 2em;
  margin: 2em auto;
  width: 40vw; 
}

/* footer */
.footer-img {
  width: 100vw;
  margin-left: -4vw;
  z-index:-1;
  opacity: 0.5;
}


@keyframes slidein {
  0%{
    opacity:0;
    transform: translateX(800px);
  }
  100%{
    opacity:1;
    transform: translateX(0);
  }
}

@keyframes slidein2 {
  0%{
    opacity:0;
    transform: translateX(-800px);
  }
  100%{
    opacity:1;
    transform: translateX(0);
  }
}