* {
  text-align: center;
  font-family: 'Ultra', serif;
}

a {
  text-decoration: none;
  color:white;
  background-color: black;
  margin: 10px;
}

input, button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* side bar */
.side-bar {
  background-color: rgba(171, 254, 45, 0.8);
  height: 100vh;
  width: 20vw;
  z-index: 20;
  animation: slidein2;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

/* header */
.login-buttons-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-content: space-between;
}

.login-buttons {
 padding: 1em;
}

.main-title {
  font-size: 5em;
}

.shoe-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
}

.shoe-left {
  z-index: 1;
}

.shoe-right {
  z-index: 2;
}

.pop-up {
  position: fixed;
  width: 70vw;
  height: 70vh;
  background-color: rgba(119, 136, 153, 0.6);
  margin-left: 15vw;
  margin-right: 15vh;
  z-index: 20;
  animation: slidein;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: row-reverse;
}
.hidden {
  display: none; 
}

/* race-list */

.race {
  background-color: grey;
  padding: 2em;
  margin: 2em auto;
  width: 40vw; 
}

.race-info span {
  font-weight: 600;
  margin: 1em;
  text-align: left;
}

.detail-link {
  padding: 0.5em;
  font-size: 1em;
}
.detail-link:hover {
  font-size: 1.5em;
}
/* new race */

.new-races {
  border: 2px black solid;
  margin: 2em auto;
  padding: 2em;
  width: 20vw;
}

.new-activities {
  border: 2px black solid;
  margin: 2em auto;
  padding: 2em;
  width: 20vw;
}


/* note-list */

.note {
  background-color: lightpink;
  padding: 2em;
  margin: 2em auto;
  width: 40vw; 
}

/* footer */
.footer-img {
  width: 100vw;
  margin-left: -4vw;
  z-index:-1;
}


@keyframes slidein {
  0%{
    opacity:0;
    transform: translateX(800px);
  }
  100%{
    opacity:1;
    transform: translateX(0);
  }
}

@keyframes slidein2 {
  0%{
    opacity:0;
    transform: translateX(-800px);
  }
  100%{
    opacity:1;
    transform: translateX(0);
  }
}