<h1>Hi <%= @user.name %></h1>
<p>We are sad that you are leaving.</p>
<p>However we understand. Life happens.</p>
<img src="https://media.giphy.com/media/13sozYO4hmSMUw/giphy.gif" alt="goodbye" />

<p>Happy running,</p>
<p>Tibby @ In My Running Shoes</p>