<h1>Hi <%= @user.name %></h1>
<p>We are thrilled that you've decided to join us.</p>
<img src="https://media.giphy.com/media/l4JyYCo1POYWC9HmE/giphy.gif" alt="welcome" />
<br />
<p>"To give anything less than your best is to sacrifice the gift."</p>
<p>(~ Steve Prefontaine)</p>
<br />
<p>Gotta Run,</p>
<p>Tibby @ In My Running Shoes</p>