<h1>Hi <%= @user.name %></h1>
<p>We are thrilled that you decide to join us.</p>
<img src="https://media.giphy.com/media/l4JyYCo1POYWC9HmE/giphy.gif" alt="welcome" />

<p>Gotta Run,</p>
<p>Tibby @ In My Running Shoes</p>